@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Kufi+Arabic:wght@400;500;700&display=swap");

.flexrecipt {
  font-family: "Noto Kufi Arabic", sans-serif!important;
  height: 202mm;
  width: 140mm;
  display: flex;
  margin: auto;
  background-color: white;
  flex-direction: column;
  padding: 4mm;
direction: rtl;
  position: relative;
  overflow: hidden;
em, p, b{
  font-style: normal;
  font-size: 12px;
}
  &::before {
    content: '';
    position: absolute;
    height: 195mm;
    width: 132mm;
    border: 1px solid rgb(114, 114, 114);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

  }

  * {
    margin: 0;
    padding: 0;
  }

  .fitem {
    min-height: 20px;
    width: 100%;
    text-align: center;
    padding: 5px 0;

    &:nth-child(1) {
      padding: 15px 0;

      h1 {
        font-size: 33px;
      }
    }

    &:nth-child(2) {
      background-color: black;
      p {
        font-size: 15px;
        color: white;
      }
    }

    &:nth-child(3) {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      gap: 2mm;

      div {
        min-height: 20px;
        width: 65mm;
        text-align: right;
border-bottom: 1px solid gray;

      }
    }

    &:nth-child(4) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: auto;

      .nafTable {
        
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(14, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
      height: 108mm;
      border-top: 1px solid black;
      border-left: 1px solid black;
      
em,p{
  border-bottom: 1px solid black;
  text-align: right;
  padding: 0 5px;
}
        
      }
      .symbols{
       
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          height: 60mm;

          div {
            width: 32%;
            min-height: 20px;
            background-color: rgb(245, 245, 245);
            img{
              max-width: 100%;
            }
            &:nth-child(16){
              width: 99%;
            }
          
        }
      }
    }

   

  }
}

.layout--content-medium, .layout--pass--content-medium > * {
@media (min-width: 62.5rem){

  grid-column: 1 / 14;
}
}

.node-measurement-form, .node-measurement-edit-form{

  .layout__region.layout__region--middle {
    display: flex !important;
    flex-wrap: wrap;

    >div {
      width: 23%;
      padding: 3px;

      @media screen and (max-width: 620px) {
        width: 98%
      }

      input,
      select {
        width: 100% !important;
        border-radius: 0;
        font-size: 15px;
      }
    }
  }
}