<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Measurment Recipt</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="invboxflex">
<div class="shopinfo">
  <h1>Imperial tailor and Cloth House</h1>
  <div class="shopadd">
<h4>Al Madina Market, Charsada Bus Stand, Peshawar. 03469153212</h4>
  </div>
</div>

</div>
</body>
</html>
