<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Measurment Recipt</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="invboxgrid">
      <div class="div1"><h1>ایمپریل ٹیلرزاینڈ کلاتھ ھاوس</h1></div>
      <div class="div2">
        <h4>المدینہ مارکیٹ، چارسدہ بس سٹینڈ، پشاور۔ موبایل 03469153212</h4>
      </div>
      <div class="div3">
        <em>ناپ نمبر:</em>
        <hr />
      </div>
      <div class="div4">
        <em>تاریخ آمد:</em>
        <hr />
      </div>
      <div class="div5">
        <em>کسٹمر نام: </em>
        <hr />
      </div>
      <div class="div6">
        <em>تاریخ واپسی:</em>
        <hr />
      </div>
      <div class="div7">
        <div class="subgrid1">
          <div class="subdiv1"><em>لمبائی</em></div>
          <div class="subdiv1"><p></p></div>
          <div class="subdiv1"><em>بازو</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>تیرہ</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>کالر</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>چھاتی</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>کمر</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>گھیرا</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>شلوار لمبائی</em></div>
          <div class="subdiv1"><p></p></div>

          <div class="subdiv1"><em>پاینچا</em></div>
          <div class="subdiv1"><p></p></div>
        </div>
      </div>
      <div class="div8">
        <h6>استاد کا نام</h6>
      </div>
      <div class="div9">
        <h6>کٹر کا نام</h6>
      </div>
    </div>

    <div class="measerModal">
      <a class="measerBtn" href="#popup1">Let me Pop up</a>
    </div>

    <div id="popup1" class="measerOverlay">
      <div class="measerPopup">
        <h2>Here i am</h2>
        <a class="measurClose" href="#">&times;</a>
        <div class="measurContent">
          Thank to pop me out of that button, but now i'm done so you can close this window.
        </div>
      </div>
    </div>

  </body>
</html>
