<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Measurment Recipt</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="invbox">

<table border="1">
  <thead>
    <tr>
      <th colspan="3"><h1>Imperial Telors and Cloths hous</h1>
      </th>
    </tr>
    <tr><th colspan="3">
      <h4>Almadina Market, Charsada Bus Stand, Peshawar.Contact: 03469153212</h4>
    </th></tr>
  </thead>
  <tbody>
    <tr>
      <td><em>Nap No:</em> <hr></td>
      <td><em>Tareekh Aamad:</em><hr></td>
    </tr>
    <tr><td>
      <em>Name:</em><hr>
    </td>
  <td><em>Tareekh Wapasi:</em></td></tr>

  <tr>
    <td> <h3>Naf table</h3></td>
    <td><h3>Kareegar</h3></td>
    <td><h3>Cutter</h3></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
